{% extends 'base.html' %}


{% block title%} Login {% endblock %}


{% block content %}

<div class="row">
  <div class="col-md-4 mx-auto">
    <h5 class="my-2">Настройки рассылки</h5>
    <form method="POST" class="" action="">
        {% csrf_token %}
<!--      <div class="form-row align-items-center">-->
<!--        <div class="col-auto">-->
          {{ form.as_table }}
    <button type="submit" class="btn btn-primary my-2">Сохранить</button>
<!--        </div>-->
<!--      </div>-->
    </form>
  </div>
</div>



{% endblock %}

